<h2>Movie Details</h2>

<p>Title: {{foundmovie.title}}</p>
<p>Genre: {{foundmovie.genre}}</p>
<p>Plot: {{foundmovie.plot}}</p>

<h3>Cast:</h3>
<ul>
  {{#each foundmovie.cast}}
    <li>
      <h4>Name: {{this.name}}</h4>
      <p>Occupation: {{this.occupation}}</p>
      <p>Catch Phrase: {{this.catchPhrase}}</p>
    </li>
  {{/each}}
</ul>
<form action="/movie/{{foundmovie._id}}/delete" method="POST">
  <button type="submit">Delete Movie</button>
</form>
